@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.inter {
  font-family: "Roboto", sans-serif;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hhrbs {
  height: calc(100% -50px);
}

code { 
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  font-family: "Inter", sans-serif;
}

.f1 {
  font-family: "Roboto", sans-serif;
}

.f2 {
  font-family: "Inter", sans-serif;
}

.scroll-bar-cool111::-webkit-scrollbar {
  width: 5px !important;
  background-color: #f8f8f8 !important;
  border-radius: 12px !important;
}

.scroll-bar-cool111::-webkit-scrollbar-thumb {
  background-color: #0a0a18 !important;
  border-radius: 12px !important;
}

.scroll-x-cool::-webkit-scrollbar {
  height: 8px !important;
  padding: 3px 5px;

  background-color: #fff !important;
  border-radius: 12px !important;
}

.scroll-x-cool::-webkit-scrollbar-thumb {
  margin-left: 10px;
  background-color: #0a0a182b !important;
  border-radius: 12px !important;
}

.scroll-bar-cool111::-webkit-scrollbar-thumb {
  background-color: #0a0a18 !important;
  border-radius: 12px !important;
}

.scroll-hidden::-webkit-scrollbar {
  display: none !important;
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .custom-h {
    height: 90%;
  }
}

.ewrwrww .g2-tooltip {
  display: none !important;
}

.ewrwrww {
  stroke: #000 !important;
}
.chart-container {
  position: relative;
}

.chartjs-background-red {
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0.5)
  );
}

.chartjs-background-blue {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0.1),
    rgba(0, 0, 255, 0.5)
  );
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.253);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.svg-copy{
  filter: invert(3%) sepia(30%) saturate(3139%) hue-rotate(220deg) brightness(92%) contrast(98%) !important;
}
/* /* darkmode css / */
.divWrapperDarkMode{
    background-color: #111317;
    border-color: #1F2329;
    color:#fff ;
}

.backgroundDarkMode{ background-color: #09090b}
.headingDarkMode{ color: #fff}
.subHeadingDarkMode{ color: #ffffff74}
.borderColorDarkMode { border-color:#1F2329 ;}




/*  whiteMode */ 
.divWrapper{
  background-color: #fff;
  border-color: #ebebeb;
  color: #000;
}
.background{ background-color: #FAFAFC}
.borderColor { border-color:#ebebeb ;}
.heading{ color: #000}
.subHeading{ color: #0a0a187e}


/* checkbox css */


.check-box {
  width: 14px;
  height: 14px;
  border: 1px solid #959494;
  border-radius: 2px;
  cursor: pointer;
}

.checked {
  background-color: #38f8ab34;
  /* border-color: #38F8AC; */
}

.check-icon {
  width: 8px;
  height: 8px;
  display: flex;
}


/* Status css starts here */

.status-container {
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0 9.5px;
  justify-content: space-between;
  border-radius: 23px;
}

.background-green {
  background-color: #38f8ab31;
}

.background-yellow {
  background-color: #ffcc6538;
}

.background-red {
  background-color: #ff465c38;
}

.status-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.status-green {
  background-color: #0FE38F;
}

.status-yellow {
  background-color: #FFCB65;
}

.status-red {
  background-color: #FF465C;
}

.status-text {
  font-size: 11px;
  letter-spacing: wide;
  margin-left: 5px;
}

.text-green {
  color: #0FE38F;
}

.text-yellow {
  color: #FFCB65;
}

.text-red {
  color: #FF465C;
}



/* formik input fiels css */
.formikInputField{
    height: 35px;
    color: black;
    font-size: .8rem;
    background: white;
}

.formikInputField:focus {
  background-color: white !important;
}

.formikInputField:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.formikErrorText{
  font-size: .8rem;
  margin-left: 3px;
}

.formikInputLabel{
  font-size: .8rem;
}


.modal-style {
  background: white;
  padding:2rem;
  border: none;
  color: rgba(10, 10, 24, 0.494) !important;
}

.css-2ulfj5-MuiTypography-root{
  color: rgb(47 58 69 / 1) !important;
  font-size: 1rem !important;
  
}

button.variant-btn {
  background: #2fe49c ;

  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-top: 10px;
}
button.variant-btn-color {
  background: #2fe49c;

  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-top: 10px;
}
.variant-txt-email{
  background: #2fe49c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-top: 10px;
}


/* Hide scrollbar on all elements */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.MuiBox-root,
.billing-modal-background{
  height: 90% !important;
  border-radius: 10px;
}

.loader-background{
  height: 100% !important;
  border-radius: 10px;
}
.variant-txt{
  background: #2fe49c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-top: 10px;
  justify-content: center;
}
.variant-txt-color{
  background: #2fe49c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-top: 10px;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: .3rem !important;
  color: rgb(47 58 69 / 1) !important;
  font-size: .7rem;
  background-color: white;
}
p.notfound-txt{
color: #0A0A18;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 82px; /* 205% */
letter-spacing: -0.8px;
text-align: center;
}
button.return-btn{
  width: 209px;
  height: var(--10, 40px);
  flex-shrink: 0;
/* display: flex;
justify-content: center; */
border-radius: var(--rounded, 4px);
background: #38F8AC;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.css-1l9sosn-MuiButtonBase-root-MuiButton-root {
  color: #38F8AC;
  border: 2px solid #38F8AC;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  height: 5px !important;
  background-color: white;
}
.PhoneInput {
  display: flex;
  align-items: center;
  margin-top: 27px;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  padding: 6px;
}
input.PhoneInputInput {
  font-size: 13px;
  padding: 3px;
  font-family: inherit;
  outline: 0
}


/* modal */
.modal-close-btn{
  display: flex;
  justify-content: flex-end;
  margin-right: -16px;
  margin-top: -16px;
  cursor: pointer;
}